.profile-page {
    min-height: 100vh;
    padding: 50px 20px;
    background: #fff7f0;
}

.profile-card {
    max-width: 850px;
    margin: auto;
    background: #fff;
    border-radius: 35px;
    padding: 50px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .08);
}

.profile-avatar {
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(135deg,
            #ff8a3d,
            #ffbc45);
    color: white;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-title {
    text-align: center;
    margin-top: 20px;
    color: #4d2d00;
}

.profile-email {
    text-align: center;
    color: #888;
    margin-bottom: 40px;
}

.section {
    margin-top: 40px;
    padding-top: 30px;
    border-top: 1px solid #eee;
}

.section-header {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.section-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff2e5;
    color: #ff8a3d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;

    height: 60px;
    border: 2px solid #f0dfcf;
    border-radius: 18px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.input-wrapper input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
}

.save-btn {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 18px;

    background: linear-gradient(90deg,
            #ff7f2a,
            #ffc24d);

    color: white;
    font-size: 18px;
    font-weight: 600;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.health-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.health-card {
    text-align: center;
    padding: 25px;
    border-radius: 20px;
    background: #fafafa;
}

.health-card svg {
    font-size: 28px;
    color: #ff8a3d;
}

.health-card span {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
}

@media(max-width:768px) {

    .profile-card {
        padding: 30px;
    }

    .health-grid {
        grid-template-columns: 1fr 1fr;
    }
}