@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Kanit', sans-serif;

  background-image:
    linear-gradient(rgba(255, 248, 240, 0.45),
      rgba(255, 224, 178, 0.45)),
    url("./assets/bg.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
}

/* มือถือ */
@media (max-width: 768px) {
  body {
    background-image:
      linear-gradient(rgba(255, 248, 240, 0.45),
        rgba(255, 224, 178, 0.45)),
      url("./assets/mbbg.png");

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.main-layout {
  min-height: 100vh;
}

.app-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 90px 20px 40px;
}