@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap');
/* ซ่อน Scrollbar ทั้งเว็บ */
::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* สำหรับ IE และ Edge */
  scrollbar-width: none;     /* สำหรับ Firefox */
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Kanit', sans-serif;

  background-image:
    linear-gradient(rgba(255, 248, 240, 0.45),
      rgba(255, 224, 178, 0.45)),
    url("./assets/bg.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;
}

/* มือถือ */
@media (max-width: 768px) {
  body {
    background-image:
      linear-gradient(rgba(255, 248, 240, 0.45),
        rgba(255, 224, 178, 0.45)),
      url("./assets/mbbg.png");

    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.main-layout {
  min-height: 100vh;
}

.app-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 90px 20px 40px;
}

@media print {
  /* ซ่อนทุกอย่างที่มีคลาส no-print */
  .no-print {
    display: none !important;
  }

  /* บังคับให้หน้า Dashboard ขยายเต็มจอ (ไม่งั้นจะเหลือขอบขาวด้านซ้ายที่ Sidebar เคยอยู่) */
  body, html {
    margin: 0 !important;
    padding: 0 !important;
  }
}